<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Shop Demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
</head>
<body>
<div>
    <h1>DB Demo</h1>
<p>Below are a list of persons</p>

    <!--SHOULD LOOP THROUGH ALL PERSONS IN PERSONS LIST AND OUTPUT - BUT DOESNT -->
    <ul>
        {{#persons}}
        <li>{{first}} {{last}} <a href="mailto:{{email}}" target="_blank"> Email {{first}} {{last}}</a></li>
        {{/persons}}
    </ul>

</div>
</body>
</html>
