<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Shop Demo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <style>
        body {
            font-family:Arial,Helvetica;
        }
        a.button {
            display:inline-block;
            background:cornflowerblue;
            color:white;
            padding:1em 2em ;
            text-decoration:none;
            border-radius:5px;
        }
    </style>
</head>
<body>
<div>
    <h1>DB Demo</h1>

    <form method="POST" action="/add">
        <label for="first">First:</label>
        <input type="text" id="first" name="first">
        <label for="last">Last:</label>
        <input type="text" id="last" name="last">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">

        <input type="submit" value="add">
    </form>
    <p>There are {{count}} persons in the database</p>

    <p><a href="/view" class="button">View People</a></p>
</div>
</body>
</html>
